@using EarlyWarning.Enums
@model IEnumerable<Locations>

@{
    ViewData["Title"] = "Index";
}

<div class="card">
    <div class="btn btn-info">
        <h4 style="color: white;padding-left:10px;">የአድራሻ መመዝገቢያ</h4>
    </div>
    <div class="card-body">
        <table id="dataTable" class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.LocationAmharicName)
                    </th>  
                    <th>
                        @Html.DisplayNameFor(model => model.LocationCode)
                    </th>  
                    <th>
                        @Html.DisplayNameFor(model => model.Level)
                    </th> 
                    <th>
                        @Html.DisplayNameFor(model => model.CardHeaderTitle)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Parent)
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LocationAmharicName)
                    </td>                   
                    <td>
                        @Html.DisplayFor(modelItem => item.LocationCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Level)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CardHeaderTitle)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Parent.LocationAmharicName)
                    </td>
                    <td>
                        @if(item.Level == LocationLevel.ሀገር)
                        {
                            @* <a asp-action="AddNewZone" asp-route-id="@item.Id" class="btn btn-success">ክልል ጨምር</a> *@
                        }
                        else if (item.Level == LocationLevel.ክልል)
                        {
                            <a asp-action="AddNewZone" asp-route-id="@item.Id" class="btn btn-success">ዞን ጨምር</a>
                        }
                        else if (item.Level == LocationLevel.ዞን)
                        {
                            <a asp-action="AddNewWoreda" asp-route-id="@item.Id" class="btn btn-success">ወረዳ ጨምር</a>
                        }
                        else 
                        {
                            <a asp-action="AddNewKebelie" asp-route-id="@item.Id" class="btn btn-success">ቀበሌ ጨምር </a>
                        }
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">አስተካክል</a>
                    </td>
                    <td>
                        <a asp-action="LocationIndex" asp-route-id="@item.Id" class="btn btn-info">ሙሉ መረጃ</a>
                    </td>
                    <td>
                        <a asp-area="Identity" asp-page="/Account/Register" asp-route-id="@item.Id" class="btn btn-primary">አዲስ ተጠቃሚ </a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
</div>

<div>
    <select id="zone" name="zone" class="form-control">
        <option value="">Select Zone</option>
    </select>
</div>
<div>
    <select id="woreda" name="woreda" class="form-control">
        <option value="">Select Woreda</option>
    </select>
</div>
<div>
    <select id="kebelie" name="kebelie" class="form-control">
        <option value="">Select kebelie</option>
    </select>
</div>

<script>
    $(document).ready(function () {
        // Load zones on page load
        $.ajax({
            url: '/api/CascadingDropDownList/GetZones',
            type: 'GET',
            success: function (data) {
                $('#zone').empty().append('<option value="">Select Zone</option>');
                $.each(data, function (i, zone) {
                    $('#zone').append($('<option>', {
                        value: zone.id,
                        text: zone.LocationAmharicName
                    }));
                });
            }
        });

        // Load woredas based on selected zone
        $('#zone').change(function () {
            var zoneId = $(this).val();
            if (zoneId) {
                $.ajax({
                    url: '/api/CascadingDropDownList/woredas/' + zoneId,
                    type: 'GET',
                    success: function (data) {
                        $('#woreda').empty().append('<option value="">Select Woreda</option>');
                        $.each(data, function (i, woreda) {
                            $('#woreda').append($('<option>', {
                                value: woreda.id,
                                text: woreda.LocationAmharicName
                            }));
                        });
                    }
                });
            } else {
                $('#woreda').empty().append('<option value="">Select Woreda</option>');
                $('#kebelie').empty().append('<option value="">Select Kebelie</option>');
            }
        });

        // Load kebelies based on selected woreda
        $('#state').change(function () {
            var kebelieId = $(this).val();
            if (kebelieId) {
                $.ajax({
                    url: '/api/CascadingDropDownList/Getkebelies/' + kebelieId,
                    type: 'GET',
                    success: function (data) {
                        $('#kebelie').empty().append('<option value="">Select Kebelie</option>');
                        $.each(data, function (i, kebelie) {
                            $('#kebelie').append($('<option>', {
                                value: kebelie.id,
                                text: kebelie.LocationAmharicName
                            }));
                        });
                    }
                });
            } else {
                $('#city').empty().append('<option value="">Select Kebelie</option>');
            }
        });
    });
</script>


